<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
         
<html> 
              
<head> 
<meta http-equiv="content-type" 
		content="text/html;charset=utf-8">

<style type="text/css">
  body {
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size: 100%;
  }
  
  
  table
  {
  width: 100%;
  border-collapse:collapse;
  }

  thead th, thead td
  {
  border: 1px solid black;
  font-size: 1em;
  }

  tr.story td {
  font-size: 2.5em;
  text-align: center;
  padding-top: 0.5em;
  }

   td {
  font-size: 1.5em;
  }


  div.item {
  page-break-after: always;
  }


 
</style>
<title></title>
</head>
<body>

<% @items.each do |item| %>
<div class="item">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>State</th>
        <th>Type</th>
        <th>Estimate</th>
      </tr>

      <tr>
        <td><%= item.id %></td>
        <td class="<%= item.current_state %>"><%= item.current_state %></td>
        <td><%= item.story_type %></td>
        <td><%= item.estimate %></td>
      </tr>
      <tr>
        <th colspan="2">Requested by</th>
        <th colspan="2">Owner</th>
      </tr>

      <tr>
        <td colspan="2"><%= item.requested_by %></td>
        <td colspan="2"><%= item.owned_by %></td>
      </tr>

      </thead>
    <tbody>
      
      <tr class="story">
        <td colspan="4"><%= item.story %></td>
      </tr>

      <tr class="description">
        <td colspan="4">
        <%= item.description.gsub("\n", "<br>") %></td>
      </tr>

    </tbody>
  </table>
  
</div>
<%end%>

</body>
</html>

