<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
         
<html> 
              
<head> 
<style type="text/css">
   div.item {
   page-break-after: always;
   }
</style>
<title></title>
</head>
<body>

<% @items.each do |item| %>
<div class="item">
  <table>
    <thead/>
    <tbody>
      <tr>
        <th>Id</th>
        <th>State</th>
        <th>Type</th>
        <th>Estimate</th>
      </tr>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.current_state %></td>
        <td><%= item.story_type %></td>
        <td><%= item.estimate %></td>
      </tr>
      <tr>
        <th>Requested by</th>
        <th>Owner</th>
      </tr>

      <tr>
        <td><%= item.requested_by %></td>
        <td><%= item.owned_by %></td>
      </tr>

      <tr>
        <td><%= item.story %></td>
      </tr>

    </tbody>
  </table>
  
</div>
<%end%>

</body>
</html>

